.review-user {
  display: flex;
  gap: 2rem;
}

.review-user-img img {
  width: 5rem;
}

.review-user-info h3 {
  margin: 0;
  color: var(--primary-color);
}

.stars i {
  color: var(--primary-color);
}

.review-user-info-title {
  display: flex;
  gap: 1rem;
}

.review h2 {
  margin-bottom: 2rem;
}

.reviews {
  padding: 0 3rem;
  display: grid;
  gap: 1.5rem;
}